easyocr==1.7.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Reuploaded==1.4.0
Flask-WTF==1.2.1
keras==2.13.1
matplotlib==3.7.5
opencv-python-headless==4.10.0.84
pandas==2.0.3
pillow==10.3.0
regex==2024.5.15
requests==2.32.3
scikit-image==0.25.0
scipy==1.14.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
torch==2.1.2
torchvision==0.16.2
